body {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: rgb(73, 73, 73);
    display: inline-block;
}

.divara {
    display: inline-block;
    border-radius: 20px;
    background-color: rgb(31, 31, 31);
    margin: 80px;
    height: 500px;
    width: 280px;
    border-left: 2px ;
}
.divarb {
    display: inline-block;
    margin-top: 40px;
    border-radius: 5px;
    height: 200px;
    width: 200px;
}

p {
    font-family: dana;
    display: inline-block;
    display:flex;
    margin-top: 30px;
    margin-right: 40px;
    color: aliceblue;
    font-size: 18px;
    margin-bottom: 100;
}

.fgf {
    font-family: dana;
    display: flex;
    padding: 13px;
    display: inline-block;
    margin-right: 80px;
    border-radius: 10px;
    background-color: rgb(82, 82, 82);
    color: aliceblue;
    font-size: 15px;
}

.dana {
    display: inline-block;
    height: 100px;
    width: 100%;
    background-color: rgb(99, 99, 99);
}

.tyt {
    font-family: dana;
    color: rgb(255, 255, 255);
    padding: 20px 50px 20px 50px;
    border-radius: 10px;
    background-color: rgb(44, 44, 44);
    text-align: left;
    margin-left: 1100px;
    margin-top: 15px;
    display: inline-block;
    font-size: 25px;
    text-decoration: none;
}